@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);
*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  line-height: 22px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}
h1,h2,h3,h4,h5,h6,span,p{
  margin: 0;
}
